<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All Todo list</h1>
      <% allTodo.forEach(function (todo){ %>
          <h2><%=todo.name%></h2>
    <ul>
      <li>
        <%=todo.description %> </a><span>(<%=todo.completed%>)</span>
      </li>
      <% }) %>
    </ul>


  </body>
</html>
